.navbar{
    background-color: #2324a3;
    /* width: 100%; */
}
.navbar-brand{
    color: white;
}
.navbar-nav .nav-link {
    color: white; /* Set default link color */
}
.active{
    border: 1px solid white;
    border-radius: 11px;
}