<div class="container">
    <ngb-alert style="margin-top: 5px; text-align: center;" #selfClosingAlert *ngIf="stockBought" type="success">
        {{selectedPortfolio.ticker}} bought successfully.
    </ngb-alert>
    <ngb-alert style="margin-top: 5px; text-align: center;" #selfClosingAlert *ngIf="stockSold" type="danger">
        {{selectedPortfolio.ticker}} sold successfully.
    </ngb-alert>
    <p style="font-size: 30px; font-weight: bold;">My Portfolio</p>
    <p>Money in Wallet: ${{this.balance | number:'1.2-2'}}</p>
    <div *ngIf="isLoading; else portFolioContent">
        <mat-spinner class="mx-auto"></mat-spinner>
    </div>
    <ng-template #portFolioContent>
        <ng-container *ngIf="portfolioList.length==0; else portfolioLoaded">
            <ngb-alert type="warning" style="text-align: center;">
                Currently you don't have any stock.
            </ngb-alert>
        </ng-container>
        <ng-template #portfolioLoaded>
            <div *ngFor="let portfolio of portfolioList; let i = index" class="container2" >
                <div class="row topRow align-items-center">
                    <div class="col-2 col-sm-1" style="font-size: 20px; font-weight: bold;">{{portfolio.ticker}}</div>
                    <div class="col-2 col-sm-1">{{portfolio.name}}</div>
                    <div class="col-8 col-sm-10"></div>
                </div>
                <hr>
                <div class="row" style="font-weight: bold;">
                    <div class="row">
                        <div class="col-6 col-sm-3">Quantity:</div>
                        <div class="col-6 col-sm-3">{{portfolio.quantity}}</div>
                        <div class="col-6 col-sm-3">Change:</div>
                        <!-- <div class="col-6 col-sm-3">0.00</div> -->
                        <div class="col-6 col-sm-3" [style.color]="getTextColor(getLatestQuote(portfolio.ticker)-parseNumber(portfolio.price))">
                            <span *ngIf="(getLatestQuote(portfolio.ticker)-parseNumber(portfolio.price))>0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                  </svg>
                            </span>
                            <span *ngIf="(getLatestQuote(portfolio.ticker)-parseNumber(portfolio.price))<0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                  </svg>
                            </span>
                            {{getLatestQuote(portfolio.ticker)-parseNumber(portfolio.price) | number:'1.2-2'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3">Avg. Cost / Share:</div>
                        <div class="col-6 col-sm-3">{{portfolio.price}}</div>
                        <div class="col-6 col-sm-3">Current Price:</div>
                        <!-- <div class="col-6 col-sm-3">{{portfolio.price}}</div> -->
                        <div class="col-6 col-sm-3" [style.color]="getTextColor(getLatestQuote(portfolio.ticker)-parseNumber(portfolio.price))">{{getLatestQuote(portfolio.ticker)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3">Total Cost:</div>
                        <div class="col-6 col-sm-3">{{ (parseNumber(portfolio.quantity) * parseNumber(portfolio.price)) | number:'1.2-2'}}</div>
                        <div class="col-6 col-sm-3">Market Value:</div>
                        <div class="col-6 col-sm-3" [style.color]="getTextColor(getLatestQuote(portfolio.ticker)-parseNumber(portfolio.price))">{{ (parseNumber(portfolio.quantity) * parseNumber(portfolio.price)) | number:'1.2-2'}}</div>
                    </div>
                </div>
                <hr>
                <div class="row btnRow align-items-center">
                    <div class="col-2 col-sm-1">
                        <button class="btn btn-primary" (click)="openBuyModal(portfolio); open(buyModal)">Buy</button>
                    </div>
                    <div class="col-2 col-sm-1">
                        <button class="btn btn-danger" (click)="openBuyModal(portfolio); open(sellModal)">Sell</button>
                    </div>
                    <div class="col-8 col-sm-10"></div>
                </div>
            </div>
        </ng-template>
    </ng-template>
    <ng-template #buyModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{selectedPortfolio.ticker}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div>Current Price {{selectedPortfolio.price}}</div>
                <div>Money in Wallet: ${{balance | number:'1.2-2'}}</div>
                <div class="mb-3">
                    <label for="quantity">Quantity:</label>
                    <div class="input-group">
                        <input type="text" id="quantity" name="quantity" [(ngModel)]="quantity">
                    </div>
                </div>
                <div *ngIf="(quantity*selectedPortfolio.price)>balance" style="color: red;">Not enough money in wallet!</div>
            </form>
        </div>
        <div class="modal-footer">
            <div style="margin-left: 0px;">Total: {{(quantity*selectedPortfolio.price) | number:'1.2-2'}}</div>
            <!-- <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Buy</button> -->
            <button type="button" class="btn btn-success" (click)="buyStock(balance-(quantity*selectedPortfolio.price));modal.close('Save click')" [disabled]="(quantity*selectedPortfolio.price)>balance || quantity==0">Buy</button>
        </div>
    </ng-template>
    <ng-template #sellModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{selectedPortfolio.ticker}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div>Current Price {{selectedPortfolio.price}}</div>
                <div>Money in Wallet: ${{balance | number:'1.2-2'}}</div>
                <div class="mb-3">
                    <label for="quantity">Quantity:</label>
                    <div class="input-group">
                        <input type="text" id="quantity" name="quantity" [(ngModel)]="quantity">
                    </div>
                </div>
                <div *ngIf="(selectedPortfolio.quantity)<quantity" style="color: red;">You cannot sell the stocks that you don't have!</div>
            </form>
        </div>
        <div class="modal-footer">
            <div style="margin-left: 0px;">Total: {{(quantity*selectedPortfolio.price) | number:'1.2-2'}}</div>
            <!-- <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Buy</button> -->
            <button type="button" class="btn btn-success" (click)="sellStock(+balance+(quantity*selectedPortfolio.price));modal.close('Save click')" [disabled]="(selectedPortfolio.quantity)<quantity || quantity==0">Sell</button>
        </div>
    </ng-template>
</div>
