<div class="container">

    <div class="row">
        <div class="mx-auto text-center">
            <h1>STOCK SEARCH</h1>
        </div>
    </div>


    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row searchForm">
            <div class="input-group mx-auto justify-content-center rounded-pill inpgrp">
                <input type="text" placeholder="Enter stock ticker symbol" formControlName="ticker"
                    class="form-control border-0 m-0 p-0 rounded-pill inpgrptxt" [matAutocomplete]="auto" />


                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSubmit()">
                    <div *ngIf="isFetching; else fetched">
                        <mat-option>
                            <mat-spinner class="mx-auto" [diameter]="30"></mat-spinner>
                        </mat-option>
                    </div>
                    <ng-template #fetched>
                        <div *ngIf="this.searchForm.value.ticker!=''">
                            <mat-option *ngFor="let option of filteredOptions" [value]="option[0]">
                                {{ option[0] }} <span> | </span> {{ option[1] }}
                            </mat-option>
                        </div>
                    </ng-template>
                </mat-autocomplete>

                <button class="btn border-0 m-0" type="submit" id="button-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>

                </button>
                <button class="btn border-0 m-0" type="button" id="button-addon1" (click)="clearAll()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>

                </button>

            </div>
            <ngb-alert style="margin-top: 5px;" #selfClosingAlert *ngIf="isInputEmpty" type="danger">
                Please enter a valid ticker
            </ngb-alert>
            <ngb-alert style="margin-top: 5px;" #selfClosingAlert *ngIf="invalidTicker" type="danger">
                No data found. Please enter a valid ticker
            </ngb-alert>

        </div>
    </form>


    <app-details *ngIf="showDetailsComp" [responseDataProfile]="responseDataProfile"
        [responseDataQuote]="responseDataQuote" [responseDataPeers]="responseDataPeers" [isLoading]="isLoading"
        [searchForm]="searchForm" [onSubmit]="onSubmit" [responseDataSentiments]="responseDataSentiments"
        [responseDataPolyHour]="responseDataPolyHour" [responseDataRecTrends]="responseDataRecTrends"
        [responseDataCompEarn]="responseDataCompEarn" [responseDataPolyTwoYr]="responseDataPolyTwoYr"
        [tickerSymbol]="tickerSymbol"></app-details>
</div>