<div class="container">

    <div class="row">
        <div class="mx-auto text-center">
            <h1>STOCK SEARCH</h1>
        </div>
    </div>


    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row searchForm">
            <div class="input-group mx-auto justify-content-center rounded-pill inpgrp">
                <input type="text" placeholder="Enter stock ticker symbol" formControlName="ticker"
                    class="form-control border-0 m-0 p-0 rounded-pill inpgrptxt" />
                <button class="btn border-0 m-0" type="submit" id="button-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>

                </button>
                <button class="btn border-0 m-0" type="button" id="button-addon1" (click)="clearAll()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>

                </button>

            </div>
        </div>
    </form>

    
    <app-details *ngIf="showDetailsComp" 
    [responseDataProfile]="responseDataProfile" 
    [responseDataQuote]="responseDataQuote" 
    [responseDataPeers]="responseDataPeers"
    [isLoading]="isLoading"
    [searchForm]="searchForm"
    [onSubmit]="onSubmit"></app-details>
</div>